.row> div{
    margin: 10px;
    float:left;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 254, 254);
}
.container{
    width: 300px;
    height:0
}
.top{
    padding: 3em;
    width: 302px;

    border-bottom: 5px solid rgb(0, 0, 0);
    clear: both;
    background-color: yellow;
    height: 50px;
    width: 50px;
}
.bottom{
    width: 302px;
    border-top: 5px solid rgb(7, 0, 0);
    clear: both;
    background-color: yellow;
    height: 112px;
}

.header{
    display: block;
    text-align: center;
    }

.row{
    width: 400px;

}
body>div{
    margin: 0 auto;

}
.backdrop{
    background-color: rgb(248, 192, 107);
    height:10000px;
    width: 10000px;
}